<div class="todo clearfix" ng-repeat="todo in todos" ng-controller="TodoController">
  <div class="checkbox-container">
    <input type="checkbox" ng-model="todo.done" ng-change="save()">
  </div>

  <div class="content">
    <h2 class="title">
      {{ todo.title }}
      <small ng-show="todo.deliver_date">
        estimated deliver date {{ todo.deliver_date | moment: "MMMM Do YYYY, h:mm:ss a" }}
      </small>
    </h2>

    <p class="created-time">
      <span class="glyphicon glyphicon-time"></span>
      {{ todo.created_at | moment: "timeago" }}
    </p>

    <p>
      {{ todo.content }}
    </p>

    <button class="btn btn-danger btn-sm" ng-click="remove()">
      <span class="glyphicon glyphicon-trash"></span>
      Remove
    </button>
  </div>
</div>
