<div class="page-header">
  <h1>
    Todo List
  </h1>
</div>

<div class="todo-app" ng-controller="TodosController">
  <div class="main-todo-list">
    <%= render 'todo' %>
  </div>

  <%= render 'form' %>
</div>
